/* ani's birthday */
.pretty-link:nth-child(1) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 220px; /* Adjust the bottom position to the lower left corner */
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Mari's birthday */
.pretty-link:nth-child(2) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 180px; /* Adjust the bottom position to the lower left corner */
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* lika's birthday */
.pretty-link:nth-child(3) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 140px; /* Adjust the bottom position to the lower left corner */
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* gio's birthday */
.pretty-link:nth-child(4) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 100px; /* Adjust the bottom position to the lower left corner */
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* data's birthday */
.pretty-link:nth-child(5) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 60px; /* Adjust the bottom position to the lower left corner */
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* ika's birthday */
.pretty-link:nth-child(6) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 20px; /* Adjust the bottom position to the lower left corner */
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

.pretty-link:hover {
    color: rgb(32, 215, 81); /* Change the color on hover */
}
