/* ani's birthday */
.pretty-link:nth-child(1) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 20px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Mari's birthday */
.pretty-link:nth-child(2) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 70px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Lika's birthday */
.pretty-link:nth-child(3) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 120px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Gio's birthday */
.pretty-link:nth-child(4) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 170px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Data's birthday */
.pretty-link:nth-child(5) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 220px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Ika's birthday */
.pretty-link:nth-child(6) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 270px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Change the color on hover for all links */
.pretty-link:hover {
    color: rgb(32, 215, 81);
}

/* Adjust the position for the last link */
.pretty-link:last-child {
    bottom: 320px; /* Adjust the bottom position for the last link */
}
