/* ani's birthday */
.pretty-link:nth-child(1) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 20px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Mari's birthday */
.pretty-link:nth-child(2) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 70px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Lika's birthday */
.pretty-link:nth-child(3) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 120px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Gio's birthday */
.pretty-link:nth-child(4) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 170px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Data's birthday */
.pretty-link:nth-child(5) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 220px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Ika's birthday */
.pretty-link:nth-child(6) {
    color: rgb(226, 226, 236);
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    left: 20px; /* Adjust the left position as needed */
    bottom: 270px;
    transform: translateY(0%);
    transition: color 0.3s ease; /* Smooth color transition on hover */
}

/* Change the color on hover for all links */
.pretty-link:hover {
    color: rgb(32, 215, 81);
}

/* Adjust the position for the last link */
.pretty-link:last-child {
    bottom: 320px; /* Adjust the bottom position for the last link */
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  overflow: hidden;
}


.scope {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: slid 30s linear infinite;

}

.scope span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(350px);
}
.scope span img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  transition: 2s;
}
.scope span:hover img {
  transform: translateY(-50px) scale(1.7);
}
@keyframes slid {
  0% {
    transform: perspective(1000px) rotateY(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg);
  }
}
