
.sidebar {
    width: 200px; /* Adjusted width for the frame */
    background: linear-gradient(to bottom, #03f640, #FFCC00, #007BFF,#f80036);
    color: #eb0c0c;
    position: absolute;
    top:300px;
    left:0px;
    height: 21%;
    overflow: auto;
    transition: 0.5s;
}
/* CSS for the close button in the sidebar */
/* CSS for the close button in the sidebar */
.sidebar button {
    background-color: #FF5733;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 400px;
    left: 200px;
    width: 20px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s; /* Add a transition for smooth color change */
}

.sidebar a:hover {
    color: #ff0000; /* Change the color to red when hovering */
}

.sidebar.active {
    width: 0; /* Set width to 0 to hide the sidebar */
    background-color: #fb06e6; /* Set the same background color to keep it consistent */
}

/* Style for the sidebar */
.content {
    position: relative;
}

button {
    background-color: #FF5733;
    color: #fff; /* Change the text color to your preference */
    cursor: pointer;
    width: 100px; /* Adjust the width as needed */
    height: 40px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 250px; /* Adjust the top position as needed */
    left: 30px; /* Adjust the left position as needed */
}

